/* Paràmetres inicials i variables */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --bg-color-section1: #4C3A51;
  --bg-color-section2: #774360;
  --bg-color-section3: #B25068;
  --bg-color-section4: #E7AB79;

  --base-text-ligt: #ffffff;
  --base-text-dark: #000000;

  font-family: 'Poppins', sans-serif;

}
/* final Parametres inicials i variables */


/***********************************************/
/***********************************************/




/* Inici Hero section */
.hero{
  background-color: var(--bg-color-section1);
  color: var(--base-text-ligt);
  font-size: 40px;
  height: 100vh;
}

.logo{
  border-radius: 50%;
  height: 150px;
  margin: 20px;
}

nav{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-around;

  font-size: 30px;
  list-style-type: none;
  width: 600px;
}

li{
  color: var(--base-text-ligt);
  text-decoration: none;
}

a{
  color: var(--base-text-ligt);
  text-decoration: none;
}

li a:hover{
  color: var(--bg-color-section3);
}

.hero-area{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

.hero-text{
  margin-bottom: 200px;
  margin-left: 80px;
}

h1{
  color: var(--bg-color-section4);
  font-size: 100px;
  margin-bottom: 75px;
}

.hero-text p{
  font-size: 50px;
  font-weight: 300;
}

.social-media{
  display: flex;
  flex-direction: column;

  margin-bottom: 150px;
  margin-right: 20px;
}

.media{
  margin: 10px
}

svg:hover{
  background-color: var(--bg-color-section3);
  border-radius: 10px;
}

/* Final Hero section */


/***********************************************/
/***********************************************/



/* Inici About Me section */
.about-me-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--bg-color-section2);
  height: 500px;
  padding: 80px;
}

.about-me-section h2{
  color: var(--bg-color-section4);
  font-size: 50px;
  margin-bottom: 50px;
}

.about-me-section p{
  color: var(--base-text-ligt);
  font-size: 30px;
  margin-bottom: 50px;
  margin-right: 80px;

}

.button{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-color-section4);
  border-radius: 25px;
  color: var(--base-text-ligt);
  font-size: 25px;
  font-weight: 300;
  height: 50px;
  margin-top: 20px;
  width: 150px;
}

.button:hover{
  background-color: var(--bg-color-section1);
}


.headshot img{
  border: 2px solid var(--bg-color-section1);
  border-radius: 50%;
  height: 200px;
}

/* Final About Me section */



/***********************************************/
/***********************************************/



/* Inici Projects section */
.projects-section{
  background-color: var(--bg-color-section3);
  height: 500px;
}

/* Final Projects section */


/***********************************************/
/***********************************************/




/* Inici Footer section */
.footer-section{
  background-color: var(--bg-color-section4);
  height: 500px;
}

/* Final Footer section */