/* Paràmetres inicials i variables */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --bg-color-section1: #4C3A51;
  --bg-color-section2: #774360;
  --bg-color-section3: #B25068;
  --bg-color-section4: #E7AB79;

  --base-text-ligt: #ffffff;
  --base-text-dark: #000000;

  font-family: 'Poppins', sans-serif;

}
/* final Parametres inicials i variables */


/***********************************************/
/***********************************************/




/* Inici Hero section */
.hero{
  background-color: var(--bg-color-section1);
  color: var(--base-text-ligt);
  font-size: 40px;
  height: 100vh;
}

.logo{
  border-radius: 50%;
  height: 150px;
  margin: 20px;
}

.hamburger{
  display: none;
}


nav{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-around;

  font-size: 30px;
  list-style-type: none;
  width: 600px;
}



li{
  color: var(--base-text-ligt);
  text-decoration: none;
}

a{
  color: var(--base-text-ligt);
  text-decoration: none;
}

li a:hover{
  color: var(--bg-color-section3);
}

.hero-area{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

.hero-text{
  margin-bottom: 200px;
  margin-left: 80px;
}

h1{
  color: var(--bg-color-section4);
  font-size: 100px;
  margin-bottom: 75px;
}

.hero-text p{
  font-size: 50px;
  font-weight: 300;
}

.social-media{
  display: flex;
  flex-direction: column;

  margin-bottom: 150px;
  margin-right: 20px;
}

.media{
  margin: 10px
}

svg:hover{
  background-color: var(--bg-color-section3);
  border-radius: 10px;
}



/* Final Hero section */


/***********************************************/
/***********************************************/



/* Inici About Me section */
.about-me-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--bg-color-section2);
  padding: 80px;
}

.about-me-section h2{
  color: var(--bg-color-section4);
  font-size: 50px;
  margin-bottom: 50px;
}

.about-me-section p{
  color: var(--base-text-ligt);
  font-size: 30px;
  margin-bottom: 50px;
  margin-right: 80px;

}

.button{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-color-section4);
  border-radius: 25px;
  color: var(--base-text-ligt);
  font-size: 25px;
  font-weight: 300;
  height: 50px;
  margin-top: 20px;
  width: 150px;
}

.button:hover{
  background-color: var(--bg-color-section1);
}


.headshot img{
  border: 2px solid var(--bg-color-section1);
  border-radius: 50%;
  height: 200px;
}

/* Final About Me section */



/***********************************************/
/***********************************************/



/* Inici Projects section */
.projects-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--bg-color-section3);
  padding: 80px;
}

.projects-section h2{
  color: var(--bg-color-section1);
  font-size: 50px;
}

.projects-container{
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}



.project-card{
  background: var(--bg-color-section4);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--bg-color-section1) ;
  color: var(--base-text-ligt);
  height: 570px;
  width: 350px;
  margin: 10px;
}

.project-card h3, .project-card h4{
  color: var(--bg-color-section1);
}

.project-image{
  border-radius: 150%;
  margin: 25px;
  height: 40%;
  width: 220px;
}

.description, .buttons-link{
  margin: 0 20px;
  height: 25%;
}

.subtext{
  font-size: 15px;
  font-weight: 300;
}

.links-container{
  display: flex;
  justify-content: space-evenly;
}

.link-button{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-color-section2);
  border-radius: 25px;
  color: var(--base-text-ligt);
  font-size: 15px;
  font-weight: 300;
  height: 40px;
  margin-top: 10px;
  width: 70px;
}

.link-button:hover{
  background-color: var(--bg-color-section1);
}


/* Final Projects section */


/***********************************************/
/***********************************************/




/* Inici Footer section */
.footer-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color-section2);
}

.footer-section h2{
  color: var(--bg-color-section4);
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.footer-section p{
  color: var(--base-text-ligt);
  font-size: 30px;
  
}

.footer-section h3{
  background-color: black;
  color: var(--base-text-ligt);
  height: 100px;
  margin-top: 50px;
  padding-top:50px;
  text-align: center;
  width: 100vw;
}

.secure{
  background-color: black;
  height: 50px;
  text-align: center;
  width: 100vw;
}

.mail{
  color: var(--bg-color-section4);
}



/* Final Footer section */


/* Media Queryes */

@media only screen and (max-width: 1000px){
  .hamburger{
    display: flex;
    background-color: transparent;
    color: var(--base-text-ligt);
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  h1{
    font-size: 70px;
  }

  .hero-text p{
    font-size: 40px;
  }

  ul{
    display: none;
    margin: 0px;
  }

  ul.show{
    display: block;
    width: 70%;
    margin-top: -50px;
    margin-left: -50px
  }

  nav{
    background-color: var(--bg-color-section3);
    display: flex;
    flex-direction: column-reverse;
  }

  a{
    margin: 20px
  }
  

  li a:hover{
    color: var(--base-text-dark);
  }

  .logo{
    display: none;
  }

  .about-me-section h2, .projects-section h2, .footer-section h2{
    font-size: 40px;
  }

  .about-me-section p{
    font-size: 25px;
  }

  .projects-container{
    display: flex;
    flex-wrap: wrap;
  }

  .footer-section p{
    color: var(--base-text-ligt);
    font-size: 20px;
    
  }
  .footer-section h3{
    font-size: 15px;
  }
}