/* Paràmetres inicials i variables */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color-section1: #4C3A51;
  --bg-color-section2: #774360;
  --bg-color-section3: #B25068;
  --bg-color-section4: #E7AB79;

  --base-text-ligt: #ffffff;
  --base-text-dark: #000000;

  font-family: 'Poppins', sans-serif;

}
/* final Parametres inicials i variables */


/* Inici Hero section */
.hero{
  background-color: var(--bg-color-section1);
  color: var(--base-text-ligt);
  font-size: 40px;
  height: 100vh;
}

.logo{
  height: 150px;
  margin: 20px;
  border-radius: 50%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  list-style-type: none;
  width: 600px;
}

li{
  color: var(--base-text-ligt);
  text-decoration: none;
}

li:hover{
  color: var(--bg-color-section3);
}

a{
  text-decoration: none;
  color: var(--base-text-ligt);
}

.hero-area{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text{
  margin-bottom: 150px;
  margin-left: 80px;
}

h1{
  font-size: 80px;
  color: #E7AB79;
}

p{
  font-size: 40px;
  font-weight: 300;
}

.button{
  display: flex;
  background-color: var(--bg-color-section3);
  border: none;
  border-radius: 25px;
  color: var(--base-text-ligt);
  font-size: 25px;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  margin-top: 20px;
}

.button:hover{
  background-color: var(--bg-color-section4);
}

.social-media{
  margin-bottom: 150px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.media{
  margin: 10px
}

svg:hover{
  background-color: var(--bg-color-section3);
  border-radius: 10px;
}





/* Final Hero section */


/* Inici About Me section */
.about-me-section{
  background-color: var(--bg-color-section2);
  height: 500px;
}

/* Final About Me section */


/* Inici Projects section */
.projects-section{
  background-color: var(--bg-color-section3);
  height: 500px;
}

/* Final Projects section */


/* Inici Footer section */
.footer-section{
  background-color: var(--bg-color-section4);
  height: 500px;
}

/* Final Footer section */